<body>	
  <div id="bWin"></div>
  <div id="wrapper">
    <%= erb appropriate_view_for(:main_navi) %>
    <section id="content">
      <%= erb appropriate_view_for(:home) %>
      <%= erb appropriate_view_for(:about_me) %>
      <%= erb appropriate_view_for(:portfolio) %>
      <%= erb appropriate_view_for(:blog) %>
    </section> 
  </div>
  <%= erb :ipad_javascript %>
</body>
