<body>	
  <div id="bWin"></div>
  <div id="wrapper">
    <%= erb :main_navi_mobile %>
    <section id="content">
      <%= erb :home_mobile %>
      <%= erb :about_me_mobile %>
      <%= erb :portfolio_mobile %>
      <%= erb :blog_mobile %>
    </section> 
  </div>
  <%= erb :ipad_javascript %>
</body>
