<body>	
  <div id="bWin"></div>
  <div id="wrapper">
    <%= erb :little_header %>
    <%= erb :main_navi %>
    <section id="content">
      <%= erb :home %>
      <%= erb :about_me %>
      <%= erb :portfolio %>
      <%= erb :blog %>
    </section> 
  </div>
  
  <%= erb :ipad_javascript %>
  
</body>
