<body>	
  <div id="bWin"></div>
  <div id="wrapper">
    <%= erb :little_header %>
    <%= erb :main_navi %>
    <section id="content">
      <%= erb :home %>
      <%= erb :about_me %>
      <%= erb :portfolio %>
      <%= erb :blog %>
    </section> 
  </div>
  
  <script>
          if((navigator.userAgent.match(/iPad/i))) 			{  
            
            
            var scriptElem = document.createElement('script');
              scriptElem.type = 'text/javascript';
              scriptElem.src = 'scripts/hoverAnimationsIpad.js';

            
            var head = document.getElementsByTagName('head')[0];
            if( head ) head.appendChild( scriptElem );

            //----------------------------------------------------

            var scriptElement = document.createElement( "script" );
            scriptElement.setAttribute( "src", "test.js" );
            document.body.appendChild( scriptElement );
            
            
            var cssLocation = "css/style-ipad.css";
            function getCss(){
              // CSS für IEs nachladen
              if(document.createStyleSheet) document.createStyleSheet(cssLocation);
              // CSS für Mozilla, Netscape, Opera nachladen
              else{
              var objStyle = document.createElement("style");
              var objText = document.createTextNode("@import url("+cssLocation+") screen;");
              objStyle.appendChild(objText);
              document.getElementsByTagName("head")[0].appendChild(objStyle);
              }
            }
             
            window.onload=getCss;
      } 


</script>
  
  <!--=========================================================================================================
                STYLE SELECTOR BACKGROUND AND PATTERN SCRIPT
  ==========================================================================================================-->	
  <script src="scripts/selector_background.js" ></script>	
  <script src="scripts/selector_pattern.js" ></script> 
  
</body>
