<!--=========================================================================================================
                      H O M E  
==========================================================================================================-->				
<div id="home">
  <h2>HOME</h2>
  <div id="content-left">
    <div class="tiles">
      <div class="live-tile" id="eins" data-mode="carousel" data-delay="4000" data-direction="horizontal">
        <% @home[:small_images].each do |image| %>
          <div><img src="<%= image %>" alt="" ></div>
        <% end %>
      </div>
    </div>
    <div class="tiles" >
      <div class="live-tile" id="zwei" data-mode="carousel"  data-delay="4000" data-direction="vertical" >
        <div class="navi-people"><p>PEOPLE</p></div>
        <div class="navi-fashion"><p>FASHION</p></div>
        <div class="navi-art"><p>ART</p></div>
        <div class="navi-design"><p>DESIGN</p></div>
      </div>
    </div>	
    <div id="vcard">
      <h1><%= @home[:name].upcase %></h1>
      <div class="line-320" >
        <div class="line-1"></div>
        <div class="deg-130"></div>
        <div class="deg-50"></div>
        <div class="line-2"></div>
      </div>
      <div class="line-366" >
        <div class="line-1"></div>
        <div class="deg-130"></div>
        <div class="deg-50"></div>
        <div class="line-2"></div>
      </div>
      <div class="line-546" >
        <div class="line-1"></div>
        <div class="deg-130"></div>
        <div class="deg-50"></div>
        <div class="line-2"></div>
      </div>
      <p><%= @home[:title].upcase %></p>
    </div>
    <div class="tiles">
      <div class="live-tile" id="drei" data-mode="carousel" data-delay="4000" data-direction="horizontal">
        <% @home[:big_images].each do |image| %>
          <div><img src="<%= image %>" alt="" style="width:400;height:400" ></div>
        <% end %>
      </div>
    </div>
    <div class="tiles">
      <div class="live-tile" id="vier" data-mode="carousel"  data-delay="4000" data-direction="vertical" >
        <div class="navi-fashion"><p>FASHION</p></div>
        <div class="navi-art"><p>ART</p></div>
        <div class="navi-design"><p>DESIGN</p></div>
        <div class="navi-people"><p>PEOPLE</p></div>
      </div>	
    </div>
    <div class="tiles">
      <div class="live-tile" id="fuenf" data-mode="carousel"  data-delay="4000" data-direction="vertical" >
          <div class="navi-art"><p>ART</p></div>
          <div class="navi-design"><p>DESIGN</p></div>
          <div class="navi-people"><p>PEOPLE</p></div>
          <div class="navi-design"><p>FASHION</p></div>
      </div>	
    </div>
  </div>	<!--end content-left-->
  <div id="content-right">
    <div class="tiles" >
      <div class="live-tile" id="sechs" data-mode="carousel"  data-delay="4000" data-direction="horizontal" >
        <% @home[:big_images] << @home[:big_images].shift %>
        <% @home[:big_images].each do |image| %>
          <div><img src="<%= image %>" alt="" ></div>
        <% end %>
      </div>
    </div>
    <div class="tiles">
      <div class="live-tile" id="sieben" data-mode="carousel"  data-delay="4000" data-direction="horizontal" >
        <div class="english"><img src="images/welcome6.png" alt=""></div>
      </div>
    </div>
    <div class="tiles">
      <div class="live-tile" id="socials" data-mode="flip"  data-delay="3000" data-direction="vertical" data-pause-onhover="true" >
        <div id="social-inner" >
          <div id="social-header" >
            <a href="<%= @home[:google_plus] %>" onfocus="this.blur()" ><i class="icon-google-plus-sign icon-3x"></i></a>
            <a href="<%= @home[:linked_in] %>" onfocus="this.blur()" ><i class="icon-linkedin-sign icon-3x"></i></a>
            <a href="<%= @home[:twitter] %>" onfocus="this.blur()" ><i class="icon-twitter-sign icon-3x"></i></a>
            <a href="<%= @home[:facebook] %>" onfocus="this.blur()" ><i class="icon-facebook-sign icon-3x"></i></a>
          </div>
          <div id="social-footer">
            <br/>&copy; 2013 darrencauthon, All rights reserved
            <i class="icon-html5 icon-1x" ></i>
            <i class="icon-css3 icon-1x" ></i>
          </div>
        </div>
        <% @home[:small_images].each do |image| %>
          <img src="<%= image %>" alt="" >
        <% end %>
      </div>
    </div>
  </div>	<!--end content-right-->
</div>	<!-- end Home -->
